.bg-hero {
    background: url("hero-bg.jpg") center/cover no-repeat;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.navbar-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.bg-sector {
    background-color: #212831;
}


.img-circle-border {
    width: 150px;
    height: 140px;
    border: 5px solid #ffc107;
    border-radius: 50%;
    overflow: hidden;
}

.img-circle-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-circle-bord {
    width: 950px;
    height: 640px;
    overflow: hidden;
}

.dancing {
    font-family: Dancing Script;
}


.custom-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffc107;
    border: none;
    opacity: 0.7;
    margin-left: 0;



}

.custom-indicators .active {
    opacity: 1;
}



.menu-toggle-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.menu-toggle-btn[aria-expanded="true"] {
    transform: rotate(180deg);
}

.hamburger-icon {
    width: 24px;
    height: 16px;
    position: relative;
}

.bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border: none;
    left: 0;
    transition: all 0.3s ease;
}

.bar-1 {
    top: 0;
}

.bar-2 {
    top: 7px;
}

.bar-3 {
    top: 14px;
}

.menu-toggle-btn[aria-expanded="true"] .bar-1 {
    transform: rotate(45deg);
    top: 7px;
}

.menu-toggle-btn[aria-expanded="true"] .bar-2 {
    opacity: 0;
}

.menu-toggle-btn[aria-expanded="true"] .bar-3 {
    transform: rotate(-45deg);
    top: 7px;
}


.menu-toggle-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}


.menu-toggle-btn:active {
    transform: scale(0.95);
}











.card-image {
    border-bottom-left-radius: 2rem;
    /* arrondi en bas à gauche */
    overflow: hidden;
    min-height: 150px;
    position: relative;
    /* nécessaire pour le z-index */
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* transition douce */
}

.card-image img {
    max-height: 120px;
    width: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}


.card-image:hover img {
    transform: scale(1.1);

}

.card-image:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-content {
    margin-top: 120px;
    z-index: 1;
    position: relative;
    transition: transform 0.3s ease;
}

.card-image:hover+.card-content {
    transform: translateY(-7px);
}





@media (max-width: 768px) {
    .slide h1 {
        font-size: 2rem;
    }

    .slide p {
        font-size: 1rem;
    }

    .slide button {
        width: 50%;
    }
}